/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Aug 15, 2025, 5:07:14 AM
    Author     : Upeshika Sewwandi
*/

body {
    font-family: 'Inter', sans-serif;
}
.tab-button.active {
    border-color: #4f46e5;
    color: #4f46e5;
    background-color: #eef2ff;
}